body{
    background-color: rgb(1, 216, 66);
}
h1{
    color: rgb(86, 8, 231);
}
table, td{
    border: 2px solid rgb(255, 255, 255);
    text-align: left;
}
p{
    color: rgb(12, 69, 253);
}
img{
    width: 150px
}