body{
    background-color: aquamarine;
}
h1{
    color: blueviolet;
}
table, td{
    border: 2px solid rgb(90, 137, 236);
    text-align: left;
}
p{
    color: rgb(83, 50, 217);
}
img{
    width: 150px
}